:root {
  --primary-color: #20b2aa;
  --secondary-color: #024b86;
  --ternary-color: #00ffff;
  --secondary-text-color: #fff;
}

@font-face {
  font-family: "Noto Serif SemiCondensed";
  src: url(../fonts/NotoSerif_SemiCondensed-Italic.ttf);
}

body {
  margin: 0 auto;
  font-family: "Noto Serif SemiCondensed";
  color: var(--secondary-color);
}

.header {
  display: flex;
  gap: 50px;
  padding: 10px 12%;
  background-color: var(--primary-color);
}

.logo-wrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  display: flex;
  gap: 5px;
  font-weight: 700;
  height: fit-content;
}

.logo img {
  width: 40px;
}

.header__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-text-color);

  /* flex: 1; */
  /* gap: 20px; */
  /* width: 100%; */
  /* font-size: 2rem; */
}

.header__info {
  display: flex;
  align-content: center;
  /* gap: 20px; */
  width: 100;
}

.info__phone {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.95rem;
  color: var(--secondary-color);
}

.info__phone > img {
  width: 15px;
}

.action-btn {
  width: 200px;
  padding: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

/* .menu-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
} */

.nav {
  display: flex;
  gap: 30px;
}

.nav__item {
  /* width: 70%; */
  position: relative;
  transition: 2s all;
}

a:any-link {
  color: inherit;
  text-decoration: none;
}

.nav__item:hover .subnav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 100%;
  left: -25%;
  background-color: var(--primary-color);
  z-index: 10;
  padding: 20px 25%;
  /* border: 1px solid white; */
  box-shadow: 0 3px 6px 0 rgba(32, 55, 74, 0.2),
    0 3px 6px 0 rgba(222, 233, 244, 0.6);
}

.subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
