:root {
  --primary-color: #20b2aa;
  --secondary-color: #024b86;
  --ternary-color: #00ffff;
  --secondary-text-color: #fff;
}

@font-face {
  font-family: "Noto Serif SemiCondensed";
  src: url(../fonts/NotoSerif_SemiCondensed-Italic.ttf);
}

body {
  margin: 0 auto;
  font-family: "Noto Serif SemiCondensed";
  color: var(--secondary-color);
}

.header {
  display: flex;
  gap: 50px;
  padding: 10px 12%;
  background-color: var(--primary-color);
}

.logo-wrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  display: flex;
  gap: 5px;
  font-weight: 700;
  height: fit-content;
}

.logo img {
  width: 40px;
}

.header__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

.header__info {
  display: flex;
  align-content: center;
  width: 100%;
}

.info__phone {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.95rem;
  color: var(--secondary-color);
}

.info__phone > img {
  width: 15px;
}

.action-btn {
  width: 200px;
  padding: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.nav {
  display: flex;
  gap: 30px;
}

.nav__item {
  position: relative;
  transition: 2s all;
}

.nav__item:hover .subnav {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: -25%;
  background-color: var(--primary-color);
  z-index: 10;
  box-shadow: 0 3px 6px 0 rgba(32, 55, 74, 0.2),
    0 3px 6px 0 rgba(222, 233, 244, 0.6);
}

.subnav {
  display: none;
}

.subnav__link {
  display: block;
  width: fit-content;
  padding: 20px;
  white-space: nowrap;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel__viewport {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel__navigation {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.carousel__navigation-list {
  display: flex;
  gap: 20px;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid var(--secondary-text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 10px 15% 50px;
  line-height: 1.5;
  font-size: 1.5rem;
  text-indent: 30px;
}

.content__heading > img {
  width: 10%;
}

.content__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  font-size: 1.8rem;
  line-height: 1.5;
}

.content__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content__info > img {
  width: 100%;
  border-radius: 4px;
}

.info__text {
  font-size: 1.4rem;
}

.info__heading {
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  align-self: center;
}

.content__info > .info__link {
  width: fit-content;
  padding: 10px 10%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-style: normal;
  white-space: nowrap;
  font-family: Arial, sans-serif;
  color: var(--secondary-text-color);
  border-radius: 4px;
  background-color: var(--secondary-color);
}
